[bot]
# Your bot's token
token = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

# The channel ID the bot should post in
channel = 1234567890

# The user IDs the bot should roll numbers for
users = [1234567890, 1234567890, 1234567890, ...]

# The schedule for the rolls in cron syntax
cron = "0 0 * * *"

# The time zone the cron schedule should run on
timezone = "UTC"

[roll]
# These two should be self explanatory
min_number = 1
max_number = 1000

[message]
# The message to display what number is rolled for a user.
# Use {number} to denote where the number should go.
number_message = "Your number is {number}."

# The default message that is appended after the number message
default_message = "Cool!"

# Legacy format (still supported):
# Add specific messages for certain numbers in the following format:
# [number, message, be the only message?, stop checking?]
# - Messages are checked starting from the first item in the list.
# - If the roll is not equal to the number, it moves on to the next.
# - If the roll is equal to the number, print the desired message.
#     - If "be the only message?" is true, it will remove any other existing messages so far.
#     - If "stop checking?" is true, the bot will stop processing conditional messages.
cond_messages = [
    [1, "Unlucky!", true, true],
    [69, "Nice.", false, false],
    [1000, "Lucky!", true, true],
    ["highest", "You have the highest number.", false, true],
    ["lowest", "You have the lowest number.", false, true]
]

# New advanced format (optional, for more complex rules):
# To use the new advanced message system, you can define rules like this:
#
# [[message.rules]]
# condition = "=69"              # Supports: =, !=, >, >=, <, <=, ranges (1-100), or keywords (highest/lowest)
# message = "Nice!"
# mode = "add"                   # Options: "add", "replace_last", "replace_except_default", "replace_all"
# stop_on_trigger = false        # Stop processing more rules if this triggers
# jump_to_rule = 3               # Skip to rule index 3 if this triggers (optional)
# mutually_exclusive = [2, 4]    # Don't process rules 2 and 4 if this triggers (optional)
#
# Examples:
# [[message.rules]]
# condition = ">=90"
# message = "High roll!"
# mode = "add"
#
# [[message.rules]]
# condition = "1-10"
# message = "Low roll."
# mode = "replace_all"
# stop_on_trigger = true
#
# To get an idea of what these would print:
# - "Your number is 1. Unlucky!"
# - "Your number is 69. Nice. (You have the highest/lowest number.)"
# - "Your number is 1000. Lucky!"