[bot]
# Your bot's token
token = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

# The channel ID the bot should post in
channel = 1234567890

# The user IDs the bot should roll numbers for
users = [1234567890, 1234567890, 1234567890, ...]

# The schedule for the rolls in cron syntax
cron = "0 0 * * *"

# The time zone the cron schedule should run on
timezone = "UTC"

[roll]
# These two should be self explanatory
min_number = 1
max_number = 1000

[message]
# The message to display what number is rolled for a user.
# Use {number} to denote where the number should go.
number_message = "Your number is {number}."

# The default message that is appended after the number message
default_message = "Cool!"

# Message rules use the [[message.rules]] tables below.
# Supported conditions: =, !=, >, >=, <, <=, ranges written as "1-10",
# or the keywords "highest" / "lowest". See README for additional details.

[[message.rules]]
condition = "=1"
message = "Unlucky!"
mode = "replace_all"
stop_on_trigger = true

[[message.rules]]
condition = "=69"
message = "Nice."
mode = "add"

[[message.rules]]
condition = "=1000"
message = "Lucky!"
mode = "replace_all"
stop_on_trigger = true

[[message.rules]]
condition = "highest"
message = "You have the highest number."
stop_on_trigger = true

[[message.rules]]
condition = "lowest"
message = "You have the lowest number."
stop_on_trigger = true
